<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing prescription</h1>

  <%= render "form", prescription: @prescription %>

  <%= link_to "Show this prescription", @prescription, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to prescriptions", prescriptions_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
